body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #93c47d;
  margin: 0;
  padding: 30px;
  color: #00340e;
}

h1 {
  text-align: center;
  color: #6aa84f;
}

form {
  width: 60%;
  margin: 20px auto;
  background: green;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-size: 14px;
}

input[type="submit"],
button {
  background-color: #6aa84f;
  color: green;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button {
  margin-right: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #006616;
}

h2 {
  color: #444;
  text-align: center;
}

ul {
  width: 60%;
  margin: 0 auto;
  padding-left: 20px;
}
